<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="title"></title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/realtors_page.css">
</head>
<header>
    <nav>
        <ul>
            <li><a href="home_company.html" id="textMain" style="font-size: 25px">RentSafePlace</a></li>
            <li><a href="company_account.html" id="textCabinet"></a></li>
            <li><a href="subscription.html" id="textSubscription"></a></li>
            <li><a href="realtors_page.html" id="textRealtors"></a></li>
            <li id="logoutButton"></li>
            <li style="right: 15px; position: absolute;">
                <label class="toggle">
                    <input type="checkbox" id="toggleSwitch">
                    <span class="slider round" data-text="УКР" data-text-checked="EN"></span>
                </label>
            </li>
        </ul>
    </nav>
</header>
<body>

<div class="container">
    <div class="content">
        <h1 id="textTitle"></h1>
        <div id="realtorsList"></div>
        <button id="addRealtorButton"></button>
    </div>
    <footer id="footer"></footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/i18next@21.7.1/dist/umd/i18next.min.js"></script>

<script src="../static/js/realtors_page.js"></script>
<script src="../static/js/logout_company.js"></script>
</body>
</html>
