<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title id="title"></title>
    <link rel="stylesheet" href="../static/css/register.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<header>
    <nav>
        <ul>
            <li><a href="index.html" style="font-size: 25px">RentSafePlace</a></li>
            <li><a href="login_realtor.html" id="textLoginRealtor"></a></li>
            <li><a href="register.html" id="textRegister"></a></li>
            <li><a href="login_company.html" id="textLoginCompany"></a></li>
            <li style="right: 15px; position: absolute;">
                <label class="toggle">
                    <input type="checkbox" id="toggleSwitch">
                    <span class="slider round" data-text="УКР" data-text-checked="EN"></span>
                </label>
            </li>
        </ul>
    </nav>
</header>
<body>

<div class="container">
    <div class="content">
        <h2 id="textTitle"></h2>
        <form id="registerForm" action="http://example.com/api/register" method="POST">
            <div class="form-group">
                <label for="email" id="textEmail"></label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="name" id="textName"></label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="password" id="textPassword"></label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="password" id="textRepeatPassword"></label>
                <input type="password" id="confirmPassword" name="password" required>
            </div>
            <button type="submit" id="register"></button>
        </form>
    </div>
    <footer id="footer"></footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/i18next@21.7.1/dist/umd/i18next.min.js"></script>
<script>
    function updateContent() {
        document.getElementById("footer").textContent = i18next.t("footer")
        document.getElementById("textLoginRealtor").textContent = i18next.t("login_realtor")
        document.getElementById("textLoginCompany").textContent = i18next.t("login_company")
        document.getElementById("textRegister").textContent = i18next.t("register_company")
        document.getElementById("textTitle").textContent = i18next.t("register_company")
        document.getElementById("title").textContent = i18next.t("register_company")
        document.getElementById("textEmail").textContent = i18next.t("email")
        document.getElementById("textPassword").textContent = i18next.t("password")
        document.getElementById("textName").textContent = i18next.t("name")
        document.getElementById("textRepeatPassword").textContent = i18next.t("register_repeat_password")
        document.getElementById("register").textContent = i18next.t("register")
    }
    const language = localStorage.getItem("selectedLanguage") === null ? 'uk' : localStorage.getItem("selectedLanguage")
    document.addEventListener('DOMContentLoaded', function() {
        i18next.init({
            lng: language,
            resources: {
                en: {
                    translation: {}
                },
                uk: {
                    translation: {}
                }
            }
        }, function (err, t) {
            updateContent();
        });

        const toggleSwitch = document.getElementById('toggleSwitch');
        toggleSwitch.checked = language !== 'uk';
        toggleSwitch.addEventListener('change', function() {
            const slider = this.nextElementSibling;
            let value;
            if (this.checked) {
                slider.setAttribute('data-text', 'EN');
                value = 'en'
            } else {
                slider.setAttribute('data-text', 'УКР');
                value = 'uk'
            }
            localStorage.setItem("selectedLanguage", value);
            i18next.changeLanguage(value, updateContent);
        });

        fetch('../../en.json')
            .then(response => response.json())
            .then(data => {
                i18next.addResourceBundle('en', 'translation', data);
                updateContent();
            });

        fetch('../../uk.json')
            .then(response => response.json())
            .then(data => {
                i18next.addResourceBundle('uk', 'translation', data);
                updateContent();
            });
    });
</script>
<script src="../static/js/register.js"></script>
</body>
</html>
